Package        Version
-------------- --------
colorzero      2.0
gpiozero       1.6.2
numpy          1.21.4
opencv-python  4.5.4.60
picamera       1.13
pip            21.3.1
setuptools     58.3.0
tflite-runtime 2.7.0
wheel          0.37.0
